.panels {
    background-color: #7F88B866;
    padding: 8px;
    border-radius: 8px;
    border: 2px solid #FDA7B4;
    backdrop-filter: blur(3px);

    display: flex;
    justify-content: space-between;
    // align-items: center;
    gap: 10px;
    // border: solid 2px #0ff;
    position: relative;
    .panel {
        display: flex;
        height: 100%;
        // border: solid 2px #f0f;
    }
}