.stats-bar {
    display: flex;
    // justify-content: space-between;
    // align-items: center;
    flex-direction: column;
    gap: 4px;
    .item {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4px 8px;
        border-radius: 16px;
        border: 1px solid #FFACB0;
        background-color: #B0D7D299;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
        font-size: 1.2m;

        .icon {
            font-size: 1.5rem;
            margin-right: 5px;
        }

        @for $i from 1 through length($emojies) {
            .score--#{$i - 1}::before {
                content: nth($emojies, $i);
                font-size: var(--cell-sprite-size);
                margin-top: -20px;
                font-size: 1.5rem;
            }
        }


    }
}
